#list{
    min-height: 100vh;
    max-height: 100vh;
    max-width: 800px;
    width: 100%;
    position: relative;
    border: 5px solid blue;
}

#itemLoader{
    position: absolute;
    top: 0;
    width: 100%;
    border: 2px solid gray;
    background-color: lightgreen;
    height: 300px;
}

.item{
    width: 100%;
    box-sizing: border-box;
    margin: 30px;
    padding: 20px;
    border: 2px solid red;
}